header
    {
        height: 14vw;
        width: 100vw;

        @include display-center;

        img
        {
            height: 7vw;
        }
    }

footer
    {
        background-color: $color6;
        padding: 7vw;

        p
        {
            color: white;

            /*a suppr   a l'avenir*/
            margin: 0px;

            font-size:  $font-size3;

            a
            {
                text-decoration: none;
                color: white;
            }

            i
            {
                font-size: $font-size3;


                /*height: $font-size3;
                width: $font-size3;*/
            }
        }
    }