header
    {
        height: 14vw;

        @include display-center;

        img
        {
            height: 7vw;
        }
    }

footer
/* logo */
    {
        background-color: $color6;
        width: 100vw;

        p
        {
            /*a suppr   a l'avenir*/
            margin: 10vw;

            a
            {
                color: white;
            }
        }
    }