header
{
    height: 14vw;

    @include display-center;

    img
    {
        height: 7vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1071px)
{
    header
    {
        height: 10vw;
    
        img
        {
            height: 6vw;
        }
    }
}

@media screen and (min-width: 1072px)
{
    header
    {
        height: 6.5vw;
    
        img
        {
            height: 4.5vw;
        }
    }
}

footer
/* logo */
{
    
    background-color: $color6;
    width: 100%;

    h3
    {
        margin: 10vw 10vw 5vw 10vw;
    }

    p
    {
        margin: 5vw 10vw 10vw 10vw;

        a
        {
            color: white;
        }
    }
}

.fa-hands-helping, .fa-utensils
{
    width: 3vw;
}

@media screen and (min-width: 769px) and (max-width: 1071px)
{
    footer
    {
        h3
        {
            margin: 8vw 8vw 4vw 8vw;
        }

        p
        {
            margin: 4vw 8vw 8vw 8vw;
        }
    }
}

@media screen and (min-width: 1072px)
{
    footer
    {
        h3
        {
            margin: 5vw 5vw 2.5vw 5vw;
        }

        p
        {
            margin: 2.5vw 5vw 5vw 5vw;
        }
    }

    .fa-hands-helping, .fa-utensils
    {
        width: 1.3vw;
    }
}