@mixin display-center 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*J'avais voulut mettre le font-seiz en variable mais les variables ne sont pas compatible avec les média query*/

/*gris clair*/
$color1: #EAEAEA;
/*gris très clair*/
$color2: #F6F6F6;
/*violet*/
$color3: #9356DC;
/*vert claire*/
$color4: #99E2D0;
/*vert foncé*/
$color5: #54B9A0;
/*presque noir*/
$color6: #353535;
/*Rose*/
$color7: #FF79DA;
/*Banc-Rose Pale*/
$color8: #F5EDFF;