@import "variable.scss";
@import "header-footer.scss";
@import "base.scss";



#top-recherche{
    height: 11vw;
    width: 100vw;

    #recherche
    {
        height: 5vw;
        margin-left: 2vw;
    }
}

#top-text
{
    padding-bottom: 4vw;
    width: 100vw;

    h3
    {
        font-weight: normal;
    }

    .button-color
    {
        margin-top: 10vw;
    }
}

#fonctionnement
{
    padding-top: 10vw;
    padding-bottom: 7vw;

    h2
    {
        width: 90vw;
    }

    /* a revoir, une partie, (background..) dans base. Mettre classe spécifique ici et html */


    div
    {
        .button-fonctionnement
        {
    
            width: 84vw;
            height: 12vw;
            margin-top: 2vw;
            grid-template-columns: 5vw 5vw 79vw;
    
            .button-grey-div
            {                
                /*Seras calculé avec la taille de police. Pas de var en calc ?*/
                height: calc(5.3vw + 4px);
                width: calc(5.3vw + 4px);
                margin-left: calc((-5.3vw - 4px) / 2);
                display: flex;
    
                p
                {
                    margin: auto;
                }
            }
    
            .fa-list-ul, .fa-store
            {
                scale: 0.8 1;
                margin-right: -0.2vw;
            }
        }

        #degustation
        {
            background-color: $color8;
        }
    }
}


#restaurants
{
    margin-top: 5vw;
    width: 100%;

    h2
    {
        width: 90vw;
    }
    
    div
    {
        margin-bottom: 5vw;

        a
        {
            box-shadow: 0px 0px 1vw #bfbfbf;
            width: 89vw;
            height: 47vw;

            margin-top: 5vw;
            border-radius: 3.5vw;

            .mon-image 
            {
                border-radius: 3.5vw 3.5vw 0vw 0vw;

                width: 89vw;
                height: 47vw;
                
                margin-bottom : 0vw;
                display: flex;
                flex-direction: column;

                background-size: cover;
                background-repeat: no-repeat;

                p
                {
                    background-color: $color4;
                    color: green;
                    margin-top: 2vw;
                    margin-left: 67vw;
                    text-align: center;
                    height: 9vw;
                    line-height: 9vw;
                    width: 20vw;
                }
            }

            #la-palette-du-gout
            {
                background-position: 100% 100%;
            }

            #la-note-enchantee
            {
                background-position: 100% 60%;
            }

            #a-la-francaise
            {
                background-position: 100% 90%;
            }

            #le-delice-des-sens
            {
                background-position: 100% 100%;
            }

            .titre
            {
                border-radius: 0vw 0vw 3.5vw 3.5vw;
                background-color: white;
                padding: 2vw;

                display: flex;
                justify-content: space-between;

                margin: 3vw, 0vw, 3vw, 0vw;

                div
                {
                    margin: 0vw;
                    h3
                    {
                        margin: 0px;
                    }
                }

                div
                {
                    display: grid;
                    grid-template: 
                        "a" auto;
                    i
                    {
                        position: relative;
                        left: 0vw;
                        margin: auto;
                        grid-area: a;
                    }

                    .far
                    {
                        opacity: 1;
                        transition-property: opacity;
                        transition-duration: 1000ms;
                    }

                    .fas
                    {
                        background: -webkit-linear-gradient(80deg, $color7, $color3);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 0;
                        transition-property: opacity;
                        transition-duration: 1000ms;
                    }

                    &:hover
                    {
                        .far
                        {
                            opacity: 0;
                        }
                        
                        .fas
                        {
                            opacity: 1;
                        }
                    }
                }
            }
        }  
    }
}


/*Pour fusion*/

.img-menu
{
    height: 60vw;

    div
    {
        border-radius: 6.5vw 6.5vw 0vw 0vw;
        padding: 0vw 10% 0vw 10%;
        grid-template-columns: 75vw 10vw;

        h1
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#a-la-francaise
{
    background-image: url(../../images/francaise.jpg);
    background-position: 50% 215%;
}

#la-note-enchantee
{
    background-image: url(../../images/enchantee.jpg);
    background-position: 100% 50%;
}

#la-palette-du-gout
{
    background-image: url(../../images/palette.jpg);
    background-position: 100% 145%;
}

#le-delice-des-sens
{
    background-image: url(../../images/delice.jpg);
    background-position: 100% 260%;
}

/* Faire une classe pour le menu d'arrivé lancer un transphorm */

.carte
{
    background-color: $color2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .green
    {
        background-color: $color5;
        width: 12vw;
        height: 1vw;
        margin-bottom: 3vw;
        margin-right: 80vw;
    }

    h2
    {
        font-weight: normal;
        margin-bottom: 1vw;
        width: 87vw;
    }

    .food
    {
        background-color: white;
        border-radius: 3vw;
        padding: 0vw 0vw 0vw 3vw;
        

        width: 81.5vw;
        
        overflow: hidden;

        display: flex;
        flex-wrap: nowrap;

        /*grid-template-columns: 84.5vw 14.5vw;
        grid-template-rows: 8vw 8vw;*/

        transition-property: width;
        transition-duration: 1000ms;

        opacity: 1;
        margin: 3vw 0vw 3vw 0vw;
        animation-name: food;
 

        h3
        {
            margin-bottom: 0px;
            margin-top: 2.5vw;
            grid-column: 1;
            grid-row: 1;
        }

        .contenu
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0px 5% 0vw 0vw;

            width: 100%;

            transition-property: width;
            transition-duration: 1000ms;

            div > h3, p:first-child
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .description
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .check
        {
            
            background-color: $color5;

            height: 15vw;
            width: 0%;
            border-radius: 0vw 3vw 3vw 0vw;
            text-align: center;

            overflow: hidden;

            transition-property: width;
            transition-duration: 1000ms;

            margin : 0px;

            i
            {
                font-size: 6vw;
                margin-top: 5vw;
            }
        }

        &:hover
        {

            .contenu
            {
                width: 75%;
            }
            .check
            {
                width: 20%;

                i
                {
                    transform: rotate(-360deg);
                }
            }
        }
    }
}

.button-zone
{
    display: flex;
    justify-content: center;
    background-color: $color2;
    width: 100%;
}

.button-color
{
    margin: 7vw 0vw 10vw 0vw;
}

@media screen and (min-width: 769px) and (max-width: 1071px)
{

    #fonctionnement
    {
        h2
        {
            width: 75.2vw;
            max-width: 751px;
        }

        div > .button-fonctionnement
        {
            max-width: 700px;
            margin-top: 3vw;
            grid-template-columns: auto auto 80%;

            .button-grey-div
            {
                /*Seras calculé avec la taille de police. Pas de var en calc ?*/
                height: calc(4.3vw + 1vw);
                width: calc(4.3vw + 1vw);
                margin-left: calc((-4.3vw - 1vw) / 2);
            }
        }
    }

    #restaurants > div > a > .mon-image 
    {
        width: 79vw;
        height: 43vw; 

        p
        {
            margin-top: 2vw;
            margin-left: 61vw;
            height: 6vw;
            line-height: 6vw;
            width: 16vw;
        }
    }


    /* Faire une classe pour le menu d'arrivé lancer un transphorm */

    .carte
    {
        .green
        {
            width: 10vw;
            margin-right: 56vw;
        }

        h2
        {
            width: 66vw;
        }

        .food
        {
            width: 60vw;

            .check > i
            {
                margin-top: 4vw;
            }
        }
    }
}

@media screen and (min-width: 1072px)
{
    #top-recherche
    {
        height: 5.5vw;
        width: 100vw;

        #recherche
        {
            height: 5vw;
            margin-left: 2vw;
        }
    }

    #top-text
    {
        
        padding-bottom: 5vw;

        .button-color
        {
            margin: 5vw 0vw 0vw 0vw;
            height: 7vw;
        }
    }

    #fonctionnement
    {
        padding-top: 5vw;
        padding-bottom: 5vw;

        h2
        {
            width: 90vw;
        }

        div
        {

            display: flex;
            justify-content: space-around;
            width: 90vw;

            .button-fonctionnement
            {
                width: 25vw;
                max-width: 450px;
                min-width: 20vw;
                height: 6vw;
                margin-top: 3vw;
                grid-template-columns: auto auto 80%;

                p
                {
                    width: 18vw;
                }
    
                .button-grey-div
                {
                    /*Seras calculé avec la taille de police. Pas de var en calc ?*/
                    height: calc(12px + 2vw);
                    width: calc(12px + 2vw);
                    margin-left: calc((-12px - 2vw) / 2);
                }
            }
        }
    }

    #restaurants > div
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        a
        {
            width: 40.5vw;
            height: 26vw;
            margin-top: 8vw;

            .mon-image
            {
                width: 40.5vw;
                height: 18vw;
    
                p
                {
                    margin-top: 2vw;
                    margin-left: 28.5vw;
                    height: 4vw;
                    line-height: 4vw;
                    width: 10vw;
                }
            }

            .titre
            {
                height: 4vw;
            }
        }
    }


    /*Pour fusion*/

    .img-menu
    {
        height: 30vw;
        align-items: center;
        width: 100%;

        div
        {
            grid-template-columns: 75vw 10vw;
            width: 80%;
            border-radius: 3vw 3vw 0vw 0vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
        }
    }

    #a-la-francaise
    {
        background-position: 50% 70%;
    }

    #la-note-enchantee
    {
        background-position: 100% 15%;
    }

    #la-palette-du-gout
    {
        background-position: 100% 80%;
    }

    #le-delice-des-sens
    {
        background-position: 100% 120%;
    }


    /* Faire une classe pour le menu d'arrivé lancer un transphorm */

    .carte
    {
        flex-direction: row;
        justify-content: space-around;

        .green
        {
            width: 10vw;
            margin-right: 15vw;
            height: 0.5vw;
        }

        h2
        {
            width: 23vw;
        }

        .entrees
        {
            margin-left: 3vw;

        }

        .dessert
        {
            margin-right: 3vw;
        }

        .food
        {
            width: 25vw;
            height: 7vw;

            h3
            {
                margin-top: 10px;
            }

            .contenu
            {
                width: 95%;
            }
            
            .check
            {
                text-align: center;
                width: 0%;

                i
                {
                    font-size: 3.5vw;
                    margin-top: 1.75vw;
                }
            }

            

            &:hover
            {
                .contenu
                {
                    width: 70%;
                }
                .check
                {
                    width: 30%;
                }
            }
        }
    }

    .button-color
    {
        height: 5vw;
        margin: 3vw 0vw 6vw 0vw
    }
}